# Moi dong mot URL group Facebook can crawl.
# Chi crawl cac group ban co quyen truy cap va duoc phep thu thap du lieu.
https://www.facebook.com/groups/ten-group-1
https://www.facebook.com/groups/ten-group-2
